@model EasyPark.Models.EntryExitManagement

<div class="container">
    <form asp-action="Edit" enctype="multipart/form-data" id="editForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EntryexitId" value="@Model.EntryexitId" />
        
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="form-group">
                    <label asp-for="LotId" class="control-label"></label>
                    <select asp-for="LotId" class="form-control" asp-items="ViewBag.LotId"></select>
                    <span asp-validation-for="LotId" class="text-danger"></span>
                    <input type="hidden" name="id" id="id" value="@Model.EntryexitId" />
                </div>
                <div class="form-group">
                    <label asp-for="CarId" class="control-label"></label>
                    <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Parktype" class="control-label"></label><span class="text-danger">(必填)</span>
                    <input asp-for="Parktype" class="form-control" />
                    <span asp-validation-for="Parktype" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryTime" class="control-label"></label>
                    <input asp-for="EntryTime" class="form-control" />
                    <span asp-validation-for="EntryTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LicensePlateKeyinTime" class="control-label"></label>
                    <input asp-for="LicensePlateKeyinTime" class="form-control" />
                    <span asp-validation-for="LicensePlateKeyinTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExitTime" class="control-label"></label>
                    <input asp-for="ExitTime" class="form-control" />
                    <span asp-validation-for="ExitTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentTime" class="control-label"></label>
                    <input asp-for="PaymentTime" class="form-control" />
                    <span asp-validation-for="PaymentTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidTime" class="control-label"></label>
                    <input asp-for="ValidTime" class="form-control" />
                    <span asp-validation-for="ValidTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentStatus" class="control-label"></label>
                    <select asp-for="PaymentStatus" class="form-control" asp-items="ViewBag.IsPayment"></select>
                    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsFinish" class="control-label"></label>
                    <select asp-for="IsFinish" class="form-control" asp-items="ViewBag.IsFinished"></select>
                    <span asp-validation-for="IsFinish" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="d-flex flex-column align-items-center justify-content-center my-3">
                    <partial name="_ShowPicturePartial" id="carimg" />
                    <input id="Picture" name="Picture" type="file" accept="image/*" class="form-control Picture" style="width:70%;margin:auto" />
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    
@*     @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } *@
    
}
