@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "忘記密碼?";
}
@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/myloginstyle.min.css" rel="stylesheet" />
    <div class="container">  
        <div class="row">
        <h1 class="text-center text-white">@ViewData["Title"]</h1>
            <hr />
        <h3 class="text-white">請輸入信箱</h3>
            <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg mb-3">
                        重設密碼<span></span><span></span><span></span><span></span>
                </button>
                    <a class="w-100 btn btn-lg" asp-area="Identity" asp-page="/Account/Login">
                        返回註冊<span></span><span></span><span></span><span></span>
                    </a>
            </div>
            </form>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
