@model EasyPark.Models.Customer

@{
    ViewData["Title"] = "新增用戶";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="customerCreateForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <span class="text-danger">必填</span>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <span class="text-danger">必填</span>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlackCount" class="control-label"></label>
                <input asp-for="BlackCount" class="form-control" />
                <span asp-validation-for="BlackCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsBlack" class="control-label"></label>  
                <br/>
                <label class="switch">
                    <input type="checkbox" asp-for="IsBlack" />
                    <span class="slider round"></span>
                </label>
                <span asp-validation-for="IsBlack" class="text-danger"></span>
            </div>
          @*   <div class="form-group">               
                <button type="submit" value="Create" class="btn btnS">新增用戶<span></span></button>
            </div> *@
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary mb-3">新增用戶</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
